/* =========================
   GAMES GRID
   ========================= */

.games-grid{
    display:grid;

    grid-template-columns:
        repeat(auto-fit, minmax(340px, 1fr));

    gap:32px;

    padding:28px;

    justify-items:center;

    align-items:start;
}
